html{
    font-size: 625%;
}
.cotainer{
    display: flex;
    margin-top: 1rem;
    width: 100%;
    min-width: 4rem;
    font-family: sans-serif;
}
.left{
    display: flex;
    flex: 1;
}
.col-xs-1{
    width:4rem;
}
.right{
    display: flex;
    flex: 1;
}
.loading{
    float: left;
    width: 4rem;
    height: 6rem;
    font-size: 0.25rem;
    border-radius:0.1rem; 
    list-style: none;
    text-align: center;
    cursor: pointer;
    background-size: 100%;
    background-color: rgb(251, 180, 53);
}
.luck{
    position: absolute;
    background-size: 100%;
    margin-top:1.5rem;
    margin-left:1rem;
    width: 2rem;
    height: 2.4rem;
    outline: 0;
    border: none;
    border-radius:0.7rem; 
}
.cover{
    position: absolute;
    width: 4rem;
    height: 6rem;
    outline: 0;
    border: none;
    border-radius: 0.1rem;
    background-color: rgb(251, 180, 53);
}
.background{
    position: absolute;
    margin-top: 1.5rem;
    margin-left: 0.5rem;
    background-size: 100%;
    width: 3rem;
    height: 3rem;
    outline: 0;
    border: none;
}
.loadingThree1{
    position: absolute;
    width: 0.7rem;
    height: 0.7rem;
    font-weight: bold;
    margin-top: -0.3rem;
    margin-left: 1.7rem;
    border-radius: 1rem;
    line-height: 0.6rem;
    color: red;
    background-color: white;
    border: 5px rgb(251, 180, 53) solid;
}
.loadingThree{
    float: left;
    width: 0.7rem;
    height: 0.7rem;
    font-weight: bold;
    margin-top: -6.4rem;
    margin-left: 1.7rem;
    border-radius: 1rem;
    line-height: 0.6rem;
    color: red;
    background-color: white;
    border: 5px rgb(251, 180, 53) solid;
}
.see{
    margin-top: 0.2rem;
    width:4rem;
    height: 0.9rem;
    text-align: center;
    font-size: 0.4rem;
    font-weight: bold;
    outline: 0;
    border: none;
    border-radius: 0.1rem;
    color: white;
    background-color: rgb(251, 180, 53);
}
.pass{
    margin-top: 0.2rem;
    width:4rem;
    height: 0.9rem;
    text-align: center;
    font-size: 0.4rem;
    font-weight: bold;
    outline: 0;
    border: none;
    border-radius: 0.1rem;
    color: white;
    background-color: rgb(251, 180, 53);
}
.two{
    float: left;
    width: 2rem;
    height: 2rem;
    font-size: 0.5rem;
    margin-top: 4rem;
    margin-left: 1rem;
    font-weight: bold;
    color: rgb(41, 189, 224);
}