html{
    font-size: 625%;
}
.cotainer{
    display: flex;
    width: 40rem;
    font-family: sans-serif;
}
.col-xs-1{
    width:  40rem;
}
.main{
    float: left;
    width: 40rem;
    height:29rem;
}
.text{
    float: left;
    margin-top: 3rem;
    margin-left: 1rem;
    width: 25rem;
    height:4rem;
    font-weight: bold;
    font-size: 2rem;
}
.die{
    float: left;
    margin-left: 7rem;
    margin-top: -9rem;
    width: 3rem;
    height: 3rem;
    font-weight: bold;
    outline: 0;
    border: none;
    border-radius:2rem; 
    background-color: rgb(245, 201, 0);
}
.die:hover{
    background-color: rgb(207, 194, 170);
}
.people{
    float: left;
    width: 8rem;
    height: 2.6rem;
    font-weight: bold;
}
#input{
    float: left;
    width: 5rem;
    height: 2.6rem;
    text-align: center;
    font-size: 1.5rem;
    outline: 0;
    border: none;
    background-color: rgb(211, 209, 206);
}
#button{
    float: right;
    width: 5rem;
    height: 2.6rem;
    border-radius:0.5rem; 
    outline: 0;
    border: none;
    cursor: pointer;
    margin-right: 1rem;
    color: white;
    font-size: 1.5rem;
    background-color: rgb(25, 81, 177);
}
#button:hover{
    background-color: #ff8000;
}
.content{
    float: left;
    margin-top: 3rem;
    margin-left: 1rem;
    width: 25rem;
    height:35rem;
    border: 0.1rem rgb(138, 137, 137) solid;
}
.match{
    float: left;
    margin-left: 1rem;
    margin-top: 9.5rem;
    line-height: 4rem;
    width: 2rem;
    font-weight: bold;
    font-size: 2rem;
}
.span{
    float: left;
    margin-top: 10rem;
    margin-left: 5rem;
    line-height: 2.5rem;
    width: 15rem;
    height: 3rem;
    color: rgb(32, 32, 32);
    font-size: 2rem;
}
.describe{
    float: left;
    margin-left: 5rem;
    line-height: 3.4rem;
    width: 9.5rem;
    height: 3rem;
    color: rgb(32, 32, 32);
    font-size: 2rem;
}
.loading{
    float: left;
    width: 4rem;
    height: 6rem;
    margin: 3rem;
    font-size: 0.25rem;
    border-radius:0.1rem; 
    list-style: none;
    text-align: center;
    cursor: pointer;
    background-size: 100%;
    background-color: rgb(245, 201, 0);
}
.luck{
    position: absolute;
    background-size: 100%;
    margin-top:1.5rem;
    margin-left:1rem;
    width: 2rem;
    height: 2.4rem;
    outline: 0;
    border: none;
    border-radius:0.7rem; 
}
.cover{
    position: absolute;
    width: 4rem;
    height: 6rem;
    outline: 0;
    border: none;
    border-radius: 0.1rem;
    background-color: rgb(245, 201, 0);
}
.background{
    position: absolute;
    margin-top: 1.5rem;
    margin-left: 0.5rem;
    background-size: 100%;
    width: 3rem;
    height: 3rem;
    outline: 0;
    border: none;
}
.loadingThree1{
    position: absolute;
    width: 0.7rem;
    height: 0.7rem;
    font-weight: bold;
    margin-top: -0.3rem;
    margin-left: 1.7rem;
    border-radius: 1rem;
    line-height: 0.6rem;
    color: red;
    background-color: white;
    border: 5px rgb(245, 201, 0) solid;
}
.loadingThree{
    float: left;
    width: 0.7rem;
    height: 0.7rem;
    font-weight: bold;
    margin-top: -6.4rem;
    margin-left: 1.7rem;
    border-radius: 1rem;
    line-height: 0.6rem;
    color: red;
    background-color: white;
    border: 5px rgb(245, 201, 0) solid;
}
.see{
    margin-top: 0.2rem;
    width:4rem;
    height: 0.9rem;
    text-align: center;
    font-weight: bold;
    outline: 0;
    border: none;
    border-radius: 0.1rem;
    background-color: rgb(245, 201, 0);
}
.pass{
    margin-top: 0.2rem;
    width:4rem;
    height: 0.9rem;
    text-align: center;
    font-weight: bold;
    outline: 0;
    border: none;
    border-radius: 0.1rem;
    background-color: rgb(245, 201, 0);
}
.two{
    float: left;
    width: 2rem;
    height: 2rem;
    font-size: 0.5rem;
    margin-top: 4rem;
    margin-left: 1rem;
    font-weight: bold;
    color: rgb(41, 189, 224);
}