html{
    font-size: 65%;
}  
#main{
    background-color:rgb(231, 227, 227); 
    box-sizing: content-box;
    position: absolute;
    min-width: 50rem;
    width:100%;
    min-height:192rem;
    max-height: 600%;
}
#head{
    background: url(./1_01.png) no-repeat;
    background-size: 100% 100%;
    box-sizing: content-box;
    position: absolute;
    width: 100%;
    height: 38rem;
}
#title{
    position: absolute;
    width: 100%;
    top: 42rem;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
}
#centercontent{
    display:flex;
    flex-direction:row;
    width: 100%;
    margin-top:45rem;
    min-width: 40rem;
    height: 22rem;
}
.content{
    display:flex;
    flex:1;
    
}
#content{
    width: 40rem;
    height: 22rem;
}
#ricontent{
    display:flex;
    flex:1;
}

i{
    background:url(./img.png)  no-repeat;
    width: 6rem;
    height: 6rem;
    background-size: 39rem 54rem;
   
}
.one i{
    display:flex;
    padding: 0.5%;
    background-position: 3rem 3rem;
    cursor: pointer;
}
.one p{
    display:flex;
    padding: 0.5%;
    margin-left: 7rem;
    margin-top: -3rem;
   
}
.two i{
    display:flex;
    padding: 0.5%;
    margin-left: 25rem;
    margin-top: -6rem;
    background-position:-22rem 3rem;
    cursor: pointer;
}
.two p{
    display:flex;
    margin-left: 32rem;
    margin-top: -3rem;
}
.three i{
    display:flex;
    padding: 0.5%;
    margin-top: 9rem;
    background-position: 2rem -10rem;
    cursor: pointer;
}
.three p{
    display:flex;
    margin-left: 7rem;
    margin-top: -3rem;
}
.four i{
    display:flex;
    margin-left: 26rem;
    margin-top: -5.5rem;
    background-position:-22rem -10rem;
    cursor: pointer;
}
.four p{
    display:flex;
    margin-left: 32rem;
    margin-top: -3rem;
}

#content1{
    background: url(./2_02.png) no-repeat;
    background-size: 100% 100%;
    box-sizing: content-box;
    position: absolute;
    width: 100%;
    height: 38rem;
    top: 69rem;
}
#data{
    position: absolute;
    width: 100%;
    top: 41rem;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
}
#explain{
    position: absolute;
    width: 100%;
    top: 45rem;
    font-size: 1.5rem;
    text-align: center;
}
#task{
    display:flex;
    flex-direction:row;
    width: 100%;
    min-width: 50rem;
    height:65rem;
    margin-top:48rem;
}
.task3{
    display:flex;
    flex: 1;
}
#task3{
    display:flex;
    width: 50rem;
    height:65rem;
}
#task30{
    display:flex;
    flex: 1;
}
.task3_03 i{
    display:flex;
    margin-top: 0;
    margin-left: 9rem;
    background-position:0rem -23rem;
    cursor: pointer;
}

.task3_03 p{
    display:flex;
    margin-top: 0;
    margin-left: 11rem;
    cursor: pointer;
}
.task3_06 i{
    display:flex;
    background-position:-22rem -23rem;
    margin-top: 0;
    margin-left: 18rem;
    cursor: pointer;
}
.task3_06 p{
    display:flex;
    margin-top: 0;
    margin-left: 20.5rem;
    cursor: pointer;
}
.img2{
    background: url(./img2.png) no-repeat;
    background-size: 23rem 16rem;
    display:flex;
    width: 24rem;
    height: 16rem;
    margin-top: 11rem;
    margin-left: -39rem;
}
.img3{
    background: url(./img3.png) no-repeat;
    background-size: 23rem 16rem;
    display:flex;
    margin-top: 28rem;
    margin-left: 4rem;
    width: 24rem;
    height: 16rem;
}
#aside{
    box-sizing:content-box; 
    position: absolute;
    width: 36rem;
    height: 10rem;
    right: 2%;
    top: 175rem;
}

.task3_26 i{
    position: absolute;
    background-position: -36rem -41rem;
    left: 31rem;
    top: -1.3rem;
    cursor: pointer;
}
.task3_29 i{
    position: absolute;
    background-position: -36rem -47rem;
    background-size: 39rem 55rem !important;
    left: 31rem;
    top: 3rem;
    cursor: pointer;
}
.task3_32 i{
    position: absolute;
    background-position: -36.1rem -51rem;
    left: 31rem;
    top: 6rem;
    cursor: pointer;
}
#foot{
    background-color: rgb(31, 29, 29);
    box-sizing:content-box; 
    position: absolute;
    width:100%;
    height: 6rem;
    top: 188rem;
}