html {
  font-size: 60%;
  font-family: sans-serif;
}
.container-fluid {
  width: 100%;
  min-width: 75rem;
}
.span1 {
  float: left;
  width: 8.4rem;
  background: #1d2531;
}
i {
  background: url(task5.png) no-repeat;
  width: 7rem;
  height: 6rem;
  background-size: 51rem 52rem;
}
.task4_11 i {
  float: left;
  background-position: 1rem 0rem;
}
.task4_12 i {
  float: left;
  background-position: 1rem -12rem;
}
.task4_13 i {
  float: left;
  background-position: 1rem -24rem;
}
.task4_14 i {
  float: left;
  background-position: 1rem -35rem;
  margin-bottom: 48rem;
}
.task4_15 i {
  float: left;
  background-position: 1.5rem -46rem;
  width: 6rem !important;
  margin-bottom: -5rem;
  background-size: 41rem 49rem !important;
}
.task4_16 i {
  float: left;
  background-position: -1.8rem -46.8rem;
  background-size: 40rem 49rem !important;
}
.span2 {
  float: left;
  width: 20rem;
  background: #222c3c;
  margin-left: -0.1rem;
}
.task4_2 i {
  float: left;
  background-position: -30rem 0rem;
  margin-left: 11rem;
  margin-top: -2.5rem;
}
.task4_2 p {
  float: left;
  margin-left: 2rem;
  margin-top: 1.5rem;
  font-weight: bold;
  color: #5b6779;
}
.mainMenu {
  float: left;
  margin-left: -19rem;
  margin-top: -1rem;
  width: 5rem;
}
.menu {
  margin-left: -0.5rem;
  margin-top: 1rem;
  font-weight: bold;
  font-size: 0.6rem;
  list-style: none;
  color: #b7c0cd;
}
.underline {
  float: left;
  margin-left: 1.5rem;
  margin-top: 1rem;
  width: 15rem;
  border: 1px #2a3547 solid;
}
.task4_3 i {
  float: left;
  background-position: -30rem 0rem;
  margin-left: 11.3rem;
  margin-top: 1rem;
}
.task4_3 p {
  float: left;
  margin-left: 1.5rem;
  margin-top: -5.6rem;
  font-weight: bold;
  color: #5b6779;
}
.task4_31 i {
  float: left;
  background-position: -23.9rem 1rem;
  margin-left: 1.5rem;
  margin-top: -3.8rem;
}
.task4_31 p {
  float: left;
  margin-left: -4.5rem;
  margin-top: -2.5rem;
  font-size: 0.6rem;
  color: #b7c0cd;
}
.task4_32 i {
  float: left;
  background-position: -24rem -7rem;
  margin-left: -7rem;
  margin-top: -0.5rem;
}
.task4_32 p {
  float: left;
  margin-left: -4.7rem;
  margin-top: 0.4rem;
  font-size: 0.6rem;
  color: #b7c0cd;
}
.task4_33 i {
  float: left;
  background-position: -24rem -13rem;
  margin-left: -7.1rem;
  margin-top: 2.3rem;
}
.task4_33 p {
  float: left;
  margin-left: -4.7rem;
  margin-top: 3.3rem;
  font-size: 0.6rem;
  color: #b7c0cd;
}
.task4_34 i {
  float: left;
  background-position: -24rem -20rem;
  margin-left: -7.1rem;
  margin-top: 5.9rem;
}
.task4_34 p {
  float: left;
  margin-left: -4.7rem;
  margin-top: 6.3rem;
  font-size: 0.6rem;
  color: #b7c0cd;
}
.underline1 {
  float: left;
  margin-left: 1.7rem;
  margin-top: -3rem;
  width: 15rem;
  border: 1px #2a3547 solid;
}
.task4_4 i {
  float: left;
  background-position: -30rem 0rem;
  margin-left: 11.5rem;
  margin-top: -2rem;
}
.task4_4 p {
  float: left;
  margin-left: 1.7rem;
  margin-top: -5.45rem;
  font-weight: bold;
  color: #5b6779;
}
.mainDashboard {
  float: left;
  margin-left: 8.7rem;
  margin-top: -4rem;
  width: 5rem;
  margin-bottom: 21rem;
}
.dashboard {
  margin-left: -10.4rem;
  margin-top: 1rem;
  font-weight: bold;
  font-size: 0.6rem;
  list-style: none;
  color: #b7c0cd;
}
.progress {
  float: left;
  margin-left: 1.5rem;
  margin-top: 1.7rem;
  width: 14rem !important;
  height: 0.5rem !important;
  background-color: #2d3848;
  margin-bottom: 4.6rem;
}
.progress-bar {
  background-color: #8c72e5;
  margin-bottom: 6rem;
}
.task4_5 p {
  float: left;
  background-position: -16rem -49.3rem;
  margin-left: 2rem;
  margin-top: 0.6rem;
  width: 14rem !important;
  font-weight: bold;
  color: #b7c0cd;
}
.span4 {
  float: left;
  width: 30rem;
  background: #ffffff;
}
.message {
  float: left;
  margin-left: 2rem;
  margin-top: 2rem;
  font-weight: bold;
  font-size: 2rem;
  color: #56688a;
}
.form-control {
  float: left;
  width: 25rem !important;
  margin-left: 2rem;
  margin-top: 4rem;
  color: #9fa9ba;
}
.glyphicon {
  float: left;
  margin-left: 24.5rem;
  margin-top: -2rem;
  color: #9fa9ba;
}
.span5 {
  margin-left: 58.4rem;
  min-width: 33rem;
  background: #ffffff;
}
.task4_6 i {
  float: right;
  background-position: -45rem 0.1rem;
  margin-left: 0rem;
  margin-top: 0rem;
  display: inline-block;
}
.task4_6 p {
  float: right;
  margin-right: -12rem;
  color: deepskyblue;
  display: inline-block;
}
u {
  background: url(img5.png) no-repeat;
  width: 7rem;
  height: 6rem;
}
.img1 u {
  float: right;
  background-position: 0rem 0rem;
  margin-right: 0rem;
  margin-top: 1rem;
}
.img1 p {
  float: right;
  margin-right: 0rem;
  margin-top: 3rem;
  font-size: 0.6rem;
  color: #b7c0cd;
  display: inline-block;
}
.img2 u {
  float: right;
  background-position: 0rem -13rem;
  margin-right: 0rem;
  margin-top: 7.2rem;
  width: 12rem !important;
  background-size: 13rem 50rem !important;
  display: inline-block;
}
.img3 ul {
  float: right;
  margin-right: -27rem;
  margin-top: 8.2rem;
  height: 2rem !important;
}
.img3 ul li a {
  font-size: 1rem;
}
.img3 p {
  float: right;
  margin-right: -19rem;
  margin-top: 9rem;
  color: #56688a;
  display: inline-block;
}
.img4 u {
  float: right;
  background-position: 0rem -31rem;
  margin-right: 10rem;
  margin-top: 40rem;
  background-size: 9rem 36rem !important;
  display: inline-block;
}
.under {
  float: left;
  width: 100%;
  min-width: 90rem;
  margin-top: -73rem;
}
.under1 {
  float: left;
  width: 30rem;
  margin-left: 28.4rem;
  border: 0.5px #b7c0cd solid;
}
.under2 {
  margin-left: 58.3rem;
  margin-right: 0;
  border: 0.5px #b7c0cd solid;
}
