
  .container{
      width: 100%;
      height: 100%;
      min-height: 58rem;
      font-family: sans-serif;
  }
  #aside{
      position: absolute;
      width: 8.4rem;
      height: 100%;
      min-height: 58rem;
      background: rgb(29, 37,49);
  }
  i{
      background:url(./task5.png)  no-repeat;
      width: 7rem;
      height: 6rem;
      background-size: 51rem 52rem;
  }
  .task4_11 i{
      position: absolute;
      background-position:1rem 0rem;
  }
  .task4_12 i{
      position: absolute;
      top: 5rem;
      background-position:1rem -12rem;
  }
  .task4_13 i{
      position: absolute;
      top: 10.2rem;
      background-position:1rem -24rem;
  }
  .task4_14 i{
      position: absolute;
      top: 15rem;
      background-position:1rem -35rem;
  }
  .task4_15 i{
      position: absolute;
      width: 6rem !important;
      bottom: -2.4%;
      background-position: 1.5rem -46rem;
      background-size: 41rem 49rem !important;
  }
  .task4_16 i{
      position: absolute;
      left: 1rem;
      bottom: -2.4%;
      background-position: -1.8rem -45.9rem;
      background-size: 40rem 49rem !important;
  }
  
  #seAside{
      position: absolute;
      left: 8.4rem;
      width: 20rem;
      height: 100%;
      min-height: 58rem;
      background: rgb(34, 44,60);
      display: block;
  }
  .task4_2 i{
      float:left;
      margin-left: 11rem;
      margin-top: -2.5rem;
      background-position: -30rem -0rem;
  }
  .task4_2 p{
      float:left;
      margin-left: 2rem;
      margin-top: 1.5rem;
      font-weight: bold;
      color: rgb(91, 103,121);
  }
  #menu{
      float:left;
      width: 5rem;
      margin-top: -4rem;
      margin-left:-1rem;
  }
  .menu{
      margin-left:-0.5rem;
      margin-top:1rem;
      font-weight: bold;
      font-size: 0.6rem;
      list-style: none;
      color: rgb(183,192,205);
  }
  #underline{
      float:left;
      width: 15rem;
      margin-left: 1.5rem;
      margin-top: 1rem;
      border: 1px rgb(42, 53, 71) solid;
  }
  .task4_3 i{
      float:left;
      margin-left: 11.3rem;
      margin-top: 1rem;
      background-position: -30rem -0rem;
  }
  .task4_3 p{
      float:left;
      margin-left: 1.5rem;
      margin-top: -5.6rem;
      font-weight: bold;
      color: rgb(91, 103,121);
  }
  .task4_31 i{
      float:left;
      margin-left: 1.5rem;
      margin-top: -3.8rem;
      background-position: -23.9rem 1rem;
  }
  .task4_31 p{
    float:left;
    font-size: 0.6rem;
    margin-left: -4.5rem;
    margin-top: -2.5rem;
    color: rgb(183,192,205);
}
  .task4_32 i{
      float:left;
      margin-left: -7rem;
      margin-top: -0.5rem;
      background-position: -24rem -7rem;
  }
  .task4_32 p{
    float:left;
    font-size: 0.6rem;
    margin-left: -4.7rem;
    margin-top: 0.4rem;
    color: rgb(183,192,205);
}
  .task4_33 i{
      float:left;
      margin-left: -7.1rem;
      margin-top: 2.3rem;
      background-position: -24rem -13rem;
  }
  .task4_33 p{
    float:left;
    font-size: 0.6rem;
    margin-left: -4.7rem;
    margin-top: 3.3rem;
    color: rgb(183,192,205);
}
  .task4_34 i{
      float:left;
      margin-left: -7.1rem;
      margin-top: 5.9rem;
      background-position: -24rem -20rem;
  }
  .task4_34 p{
    float:left;
    font-size: 0.6rem;
    margin-left: -4.7rem;
    margin-top: 6.3rem;
    color: rgb(183,192,205);
}
  .underline{
      float: left;
      width: 15rem;
      margin-left: 1.7rem;
      margin-top: -3rem;
      border: 1px rgb(42, 53, 71) solid;
  }
  
  .task4_4 i{
      float: left;
      margin-left: 11.5rem;
      margin-top: -2rem;
      background-position: -30rem -0rem;
  }
  .task4_4 p{
      float: left;
      margin-left: 1.7rem;
      margin-top: -5.45rem;
      font-weight: bold;
      color: rgb(91, 103,121);
  }
  #dashboard{
      float: left;
      width: 5rem;
      margin-top: -4rem;
      margin-left: 8.7rem;
  }
  .dashboard{
      margin-left:-10.4rem;
      margin-top:1rem;
      font-weight: bold;
      font-size: 0.6rem;
      list-style: none;
      color: rgb(183,192,205);
  }
  .progress{
      position: absolute;
      width: 14rem !important;
      height: 0.5rem !important;
      left: 1.5rem;
      bottom: 1%;
      background-color: rgb(45, 56, 72)
  }
  .progress-bar{
    background-color: rgb(140, 114, 229)
  }
  .task4_5 p{
      position: absolute;
      width: 14rem !important;
      left: 2rem;
      bottom: 4%;
      font-size: 0.6rem;
      font-weight: bold;
      background-position: -16rem -49.3rem;
      color: rgb(183,192,205);
  }
  
  #leAside{
      float:left;
      margin-left:28.5rem;
      width: 30rem;
      height: 100%;
      min-height: 58rem;
      background: rgb(255,255,255);
  }
  #message{
      float: left;
      margin-left: 2rem;
      margin-top: 2rem;
      font-size: 2rem;
      font-weight: bold;
      color: rgb(86,104,138);
  }
  .form-control{
      float: left;
      width: 25rem !important;
      margin-left: 2rem;
      margin-top: 4rem;
      color: rgb(159, 169,186)
  }
  .glyphicon{
    float: left;
    margin-left: 24.5rem;
    margin-top: -2rem;
    color: rgb(159, 169,186)
  }

  #reAside{
      margin-left: 58.4rem;
      height: 100%;
      min-height: 58rem;
      min-width: 33rem;
      background: rgb(255,255,255);
  }
  .task4_6 i{
      float: right;
      margin-right:0rem;
      background-position: -45rem 0.1rem;
      display:inline-block;
  }
  .task4_6 p{
      float: right;
      margin-right: -12rem;
      color: deepskyblue;
      display:inline-block;
  }
  u{
      background: url(./img5.png) no-repeat;
      width: 7rem;
      height: 6rem;
  }
  #img1 u{
      float: right;
      margin-right:0rem;
      margin-top: 1rem;
      background-position: 0rem 0rem;
  }
  #img1 p{
      float: right;
      margin-right:0rem;
      margin-top: 3rem;
      font-size: 0.6rem;
      color: rgb(183,192,205);
      display:inline-block;
  }
  #img2 u{
      float: right;
      margin-right: 0rem;
      margin-top: 7.2rem;
      width: 12rem !important;
      background-position: 0rem -13rem;
      background-size: 13rem 50rem !important;
      display:inline-block;
  }
#img3 ul {
      float: right;
      margin-right: -27rem;
      margin-top: 8.2rem;
      height: 2rem !important;
  }
#img3 ul li a{
   font-size: 1rem;
}
#img3 p{
      float: right;
      margin-right: -19rem;
      margin-top: 9rem;
      color: rgb(86,104,138);
      display:inline-block;
}
#img4 u{
      float:right;
      margin-right: 10rem;
      margin-top: 40rem;
      background-position: 0rem -31rem;
      background-size: 9rem 36rem !important;
      display:inline-block;
  }
  #under{
      float: left;
      width: 100%;
      min-width: 58.5rem;
      margin-top: -52rem;
  }
  #under1{
      float: left;
      width: 58rem;
      border: 0.5px rgb(183,192,205) solid;
  }
  #under2{
      margin-left: 58rem;
      width: 100%;
      border: 0.5px rgb(183,192,205) solid;
  }